@using BookStore.ViewModels

@model IEnumerable<BookVM>

@{
	ViewData["Title"] = "Books";
}

    @if(User.IsInRole("Admin"))
    {
    <a asp-action="AddEdit" asp-area="Admin" asp-controller="AdminBook" class="btn btn-primary">Create New Item</a>
    }


<div class="container p-3">
    <div class="row">
        @foreach (var book in Model)
        {
            
            <div class="col-lg-3">
                <div class="card " style="width: 14rem;">
                    <div class="ratio ratio-1x1 ">
                        <img src="~/Images/@book.ImageUrl" class="card-img-top" style="object-fit: contain;" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">@book.Title</h5>
                        <p class="card-text">@book.Price</p>

                        @if (User.IsInRole("Admin"))
                        {
                            <a asp-controller="AdminBook" asp-area="Admin" asp-action="AddEdit" asp-route-Id="@book.BookId" class="btn btn-danger">Edit</a>

                     
                            <form asp-controller="AdminBook"
                                  asp-area="Admin"
                                  asp-action="Delete"
                                  method="post"
                                  style="display:inline;">

                                <input type="hidden" name="id" value="@book.BookId" />

                                @Html.AntiForgeryToken()

                                <button type="submit" class="btn btn-danger">
                                    Delete
                                </button>
                            </form>
                        }
                        else
                        {
                            <a asp-controller="Order" asp-action="AddToCart" asp-route-bookId="@book.BookId" class="btn btn-success rounded-pill">Add To Cart</a>
                        }
                                        
                    </div>
                </div>
            </div>
        }
    </div>
</div>
