@using BookStore.ViewModels

@model IEnumerable<BookVM>

@{
	ViewData["Title"] = "Books";
}


	<h1>Books</h1>
    <a asp-action="AddEdit" asp-controller="Book" class="btn btn-primary">Create New Item</a>
<div class="row">
    @foreach (var book in Model)
    {
        <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <img src="~/Images/@book.ImageUrl" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">@book.Title</h5>
                <p class="card-text">@book.Price</p>
                    <a asp-controller="Order" asp-action="AddToCart" asp-route-bookId="@book.BookId" class="btn btn-success">Add To Cart</a>
                    <a asp-controller="Book" asp-action="AddEdit" asp-route-Id="@book.BookId" class="btn btn-danger">Edit</a>
                    
                    <form asp-controller="Book"
                          asp-action="Delete"
                          method="post"
                          style="display:inline;">

                        <input type="hidden" name="id" value="@book.BookId" />

                        @Html.AntiForgeryToken()

                        <button type="submit" class="btn btn-danger">
                            Delete
                        </button>
                    </form>
            </div>
        </div>
    </div>
    }
</div>